.apie-mygtukas {
  background-image: url("/images/tv-back.png");
  background-size: 50px 104px;
  background-position: 0 0;
  width: 50px;
  height: 50px;
  display: block;
}

.apie-mygtukas:hover {
  background-position: 0 50px;
}

.active {
  background-position: 0 50px;
}
